
<h1> Searching for  </h1>
<table border="1">
  <tr>
    <th> Thumbnail </th>	
    <th> Title </th>	
    <th> Rank </th>	
  </tr>
  <% @recipes.each do |recipe| %>
  <tr>
    <td> 
  </tr>
  <% end %>
</table>
