<h1>Searching for - <%= @search_term %></h1>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% @recipes.each do |course| %>
    <tr>
      <td><%= image_tag(course["smallIcon"]) %></td>
      <td><%= course["name"]%></td>
      <td><%= course["shortDescription"]%></td>
    </tr>
  <% end %>
</table>
