
<h1> Searching for - <% @search_term %> </h1>
<table border="1">
  <tr>
    <th> Thumbnail </th>	
    <th> Title </th>	
    <th> Rank </th>	
  </tr>
 
  <% @recipes.each do |recipe|%>
      
  <% end %>
  
</table>
